/* File: frontend/src/styles/partials/variables.css */

:root {
  /* ---------------------------------------------- */
  /* --------- 1. Developer Variables ------------- */
  /* ---------------------------------------------- */
  --border-dev: 1px solid black;
  --memory-container-color-dev: #ff000099;

  /* ---------------------------------------------- */
  /* --------- 2. Colors -------------------------- */
  /* ---------------------------------------------- */
  --calculator-graphical-display-background: #b9b6eeae;
  --error-display-background: #ff220055;
  --memory-container-color-main: #ff000009;

  /* ---------------------------------------------- */
  /* --------- 3. Box Shadows --------------------- */
  /* ---------------------------------------------- */
  --box-shadow-1: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-2: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
  --box-shadow-3: 0 4px 18px #00000088;

  /* ---------------------------------------------- */
  /* ------------ 4. Gap -------------------------- */
  /* ---------------------------------------------- */
  --gap-xxs: 0.25rem;
  --gap-xs: 0.5rem;
  --gap-sm: 0.75rem;
  --gap-md-sm: 0.875rem;
  --gap-md: 1rem;
  --gap-md-lg: 1.375rem;
  --gap-lg: 1.5rem;
  --gap-xl: 1.75rem;
  --gap-xxl: 2rem;
  --gap-3xl: 2.25rem;
  --gap-4xl: 2.5rem;

  --gap-10: 10px;

  /* ---------------------------------------------- */
  /* --------- 5. Font Sizes ---------------------- */
  /* ---------------------------------------------- */
  --font-xl: 2rem;
  --font-lg: 1.5rem;
  --font-md-lg: 1.25rem;
  --font-md: 1rem;
  --font-md-sm: 0.875rem;
  --font-sm: 0.75rem;
  --font-xs: 0.575rem;

  /* ---------------------------------------------- */
  /* ------------ 7. Borders ---------------------- */
  /* ---------------------------------------------- */
  --calculator-border-1: 1px solid #333333ff;

  /* ---------------------------------------------- */
  /* --------- 6. Line Heights -------------------- */
  /* ---------------------------------------------- */
  --line-height-1: 1;
  --line-height-2: 1.1;
}
